### Chargement des bibliothèque et des dataset

In [124]:

import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import datetime



import pytz
# Utilisation du module datetime
now =datetime.datetime.now()

### Data set des trades

In [125]:
df=pd.read_csv(r"C:\Users\podoG\Downloads\trades_history_btc.csv")

df = df.dropna(subset=['datetime'])
df

,timestamp,id,order_id,price,qty,commission,commission_asset,is_buyer,is_maker,datetime
0,1675164424534,2599691362,18016256435,22830.92,0.00066,0.000000e+00,BNB,True,False,2023-01-31 11:27:04
1,1675164424534,2599691363,18016256435,22831.05,0.00064,0.000000e+00,BNB,True,False,2023-01-31 11:27:04
2,1675164424534,2599691364,18016256435,22831.08,0.00100,0.000000e+00,BNB,True,False,2023-01-31 11:27:04
3,1675164424534,2599691365,18016256435,22831.28,0.03032,0.000000e+00,BNB,True,False,2023-01-31 11:27:04
4,1675205405138,2603428090,18037171280,23147.74,0.00064,0.000000e+00,BNB,True,False,2023-01-31 22:50:05
...,...,...,...,...,...,...,...,...,...,...
69,1681639267480,3082923341,20813706743,30275.40,0.00061,6.100000e-07,BTC,True,False,2023-04-16 10:01:07
70,1681700412716,3083612606,20819248621,30014.64,0.03091,9.277525e-01,USDT,False,False,2023-04-17 03:00:12
71,1681834866318,3085329058,20833800173,30245.99,0.03004,3.004000e-05,BTC,True,False,2023-04-18 16:21:06
72,1681834868345,3085329061,20833800272,30245.99,0.00060,6.000000e-07,BTC,True,False,2023-04-18 16:21:08
73,1681884012258,3085838182,20838970323,30268.27,0.03061,9.265117e-01,USDT,False,False,2023-04-19 06:00:12

In [126]:

df.isna().sum()

timestamp           0
id                  0
order_id            0
price               0
qty                 0
commission          0
commission_asset    0
is_buyer            0
is_maker            0
datetime            0
dtype: int64

### Identification de l'id comme point de depart temporel pour analyse du bot

In [127]:


df['direction'] = np.where(df['is_buyer'], -1, 1)
df = df.loc[df['id'] >= 3055669527]
df

,timestamp,id,order_id,price,qty,commission,commission_asset,is_buyer,is_maker,datetime,direction
12,1679671967140,3055669527,20582103493,27910.05,0.03205,8.945171e-01,USDT,False,True,2023-03-24 15:32:47,1
13,1679705060369,3056431195,20588276078,27567.41,0.03242,3.242000e-05,BTC,True,False,2023-03-25 00:44:20,-1
14,1679936404645,3059762994,20618072666,27135.79,0.00038,1.031160e-02,USDT,False,False,2023-03-27 17:00:04,1
15,1679936404645,3059762995,20618072666,27135.79,0.00643,1.744831e-01,USDT,False,False,2023-03-27 17:00:04,1
16,1679936404645,3059762996,20618072666,27135.79,0.00642,1.742118e-01,USDT,False,False,2023-03-27 17:00:04,1
...,...,...,...,...,...,...,...,...,...,...,...
69,1681639267480,3082923341,20813706743,30275.40,0.00061,6.100000e-07,BTC,True,False,2023-04-16 10:01:07,-1
70,1681700412716,3083612606,20819248621,30014.64,0.03091,9.277525e-01,USDT,False,False,2023-04-17 03:00:12,1
71,1681834866318,3085329058,20833800173,30245.99,0.03004,3.004000e-05,BTC,True,False,2023-04-18 16:21:06,-1
72,1681834868345,3085329061,20833800272,30245.99,0.00060,6.000000e-07,BTC,True,False,2023-04-18 16:21:08,-1
73,1681884012258,3085838182,20838970323,30268.27,0.03061,9.265117e-01,USDT,False,False,2023-04-19 06:00:12,1

In [128]:
# Créer une colonne Wallet à partir de qty et price
df['Wallet'] = df['qty'] * df['price']

C:\Users\podoG\AppData\Local\Temp\ipykernel_21848\2175154003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Wallet'] = df['qty'] * df['price']


### création d'un index de trade

In [129]:
# Initialisation pour la création d'un index de trade
current_trade_id = 0
current_trade_is_buyer = None

# Parcours du dataset
for index, row in df.iterrows():
    if row['is_buyer'] and current_trade_is_buyer != True:
        # Nouveau trade, on met à jour l'ID et le sens de la transaction
        current_trade_id += 1
        current_trade_is_buyer = True
    elif not row['is_buyer'] and current_trade_is_buyer != False:
        # Fin du trade, on met à jour le sens de la transaction
        current_trade_is_buyer = False
    # Ajout de l'ID unique pour le trade en cours
    df.loc[index, 'trade_id'] = current_trade_id

C:\Users\podoG\AppData\Local\Temp\ipykernel_21848\1100707956.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[index, 'trade_id'] = current_trade_id

In [130]:
# suppression d'un trade pour avoir le bon point de départ
df.drop(12, inplace=True)
df

C:\Users\podoG\AppData\Local\Temp\ipykernel_21848\2375241884.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(12, inplace=True)

,timestamp,id,order_id,price,qty,commission,commission_asset,is_buyer,is_maker,datetime,direction,Wallet,trade_id
13,1679705060369,3056431195,20588276078,27567.41,0.03242,3.242000e-05,BTC,True,False,2023-03-25 00:44:20,-1,893.735432,1.0
14,1679936404645,3059762994,20618072666,27135.79,0.00038,1.031160e-02,USDT,False,False,2023-03-27 17:00:04,1,10.311600,1.0
15,1679936404645,3059762995,20618072666,27135.79,0.00643,1.744831e-01,USDT,False,False,2023-03-27 17:00:04,1,174.483130,1.0
16,1679936404645,3059762996,20618072666,27135.79,0.00642,1.742118e-01,USDT,False,False,2023-03-27 17:00:04,1,174.211772,1.0
17,1679936404645,3059762997,20618072666,27135.78,0.00067,1.818097e-02,USDT,False,False,2023-03-27 17:00:04,1,18.180973,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,1681639267480,3082923341,20813706743,30275.40,0.00061,6.100000e-07,BTC,True,False,2023-04-16 10:01:07,-1,18.467994,14.0
70,1681700412716,3083612606,20819248621,30014.64,0.03091,9.277525e-01,USDT,False,False,2023-04-17 03:00:12,1,927.752522,14.0
71,1681834866318,3085329058,20833800173,30245.99,0.03004,3.004000e-05,BTC,True,False,2023-04-18 16:21:06,-1,908.589540,15.0
72,1681834868345,3085329061,20833800272,30245.99,0.00060,6.000000e-07,BTC,True,False,2023-04-18 16:21:08,-1,18.147594,15.0
73,1681884012258,3085838182,20838970323,30268.27,0.03061,9.265117e-01,USDT,False,False,2023-04-19 06:00:12,1,926.511745,15.0

In [131]:
# Création d'un dictionnaire pour stocker les timestamps start et stop de chaque trade
trades_dict = {}

# Parcours de chaque trade
for trade_id, group in df.groupby('trade_id'):
    # Recherche de la première ligne du trade (direction=-1)
    entry_index = group[group['direction'] == -1].index[0]
    # Recherche de la dernière ligne du trade (direction=1)
    exit_index = group[group['direction'] == 1].index[-1]
    # Stockage des timestamps start et stop dans le dictionnaire
    trades_dict[trade_id] = {'timestamp_start': group.loc[entry_index]['timestamp'], 'timestamp_stop': group.loc[exit_index]['timestamp']}

# Création du DataFrame trades_df à partir du dictionnaire
trades_df = pd.DataFrame.from_dict(trades_dict, orient='index').reset_index().rename(columns={'index': 'trade_id'})

In [132]:
trades_df

    trade_id  timestamp_start  timestamp_stop
0        1.0    1679705060369   1679936404645
1        2.0    1679990404901   1680123604404
2        3.0    1680248763230   1680248764795
3        4.0    1680285605376   1680354006451
4        5.0    1680418806067   1680458406234
5        6.0    1680526805716   1680573606150
6        7.0    1680616805575   1680724805870
7        8.0    1680807605810   1680872405953
8        9.0    1680912005663   1680994805795
9       10.0    1681084805640   1681142406399
10      11.0    1681156805871   1681254005991
11      12.0    1681369205825   1681506013017
12      13.0    1681567213894   1681602129750
13      14.0    1681639212476   1681700412716
14      15.0    1681834866318   1681884012258

In [133]:
# ON FAIT UN DF DE TOKENQTY QUI SERA UTILISER APRES
df_qty = df[df['direction'] == -1].groupby('trade_id').agg({'qty': 'sum'}).reset_index()
df_qty = df_qty.rename(columns={'qty': 'token_qty'})
df_qty


# ON FAIT UN DF DE usdqtY QUI SERA UTILISER APRES
df_qty_usdt = df[df['direction'] == 1].groupby('trade_id').agg({'Wallet': 'sum'}).reset_index()
df_qty_usdt = df_qty_usdt.rename(columns={'Wallet': 'usdt_qty'})


# on cree un df_init pour chaque trade id , l'idée et de stocker le volume usdt au départ du trade de chaque id
df_init= df[df['direction'] == -1].groupby('trade_id').agg({'Wallet': 'sum'}).reset_index()

df_qty

    trade_id  token_qty
0        1.0    0.03242
1        2.0    0.03254
2        3.0    0.03343
3        4.0    0.03248
4        5.0    0.03236
5        6.0    0.03234
6        7.0    0.03190
7        8.0    0.03216
8        9.0    0.03208
9       10.0    0.03157
10      11.0    0.03071
11      12.0    0.03089
12      13.0    0.03095
13      14.0    0.03094
14      15.0    0.03064

In [134]:
df_init # on réutilisera plus tard pour avoir un suivie du drawdown

    trade_id      Wallet
0        1.0  893.735432
1        2.0  877.376084
2        3.0  922.548989
3        4.0  920.304645
4        5.0  921.029910
5        6.0  910.666151
6        7.0  897.772308
7        8.0  898.993397
8        9.0  895.235040
9       10.0  894.220023
10      11.0  896.323312
11      12.0  927.044991
12      13.0  938.873777
13      14.0  936.833704
14      15.0  926.737134

In [135]:
df_qty_usdt

    trade_id    usdt_qty
0        1.0  878.631065
1        2.0  922.912736
2        3.0  921.639266
3        4.0  922.038227
4        5.0  911.524629
5        6.0  898.740130
6        7.0  899.917652
7        8.0  896.189881
8        9.0  895.126151
9       10.0  896.978045
10      11.0  928.237820
11      12.0  939.650585
12      13.0  937.684558
13      14.0  927.752522
14      15.0  926.511745

In [136]:
df_info = pd.merge(trades_df, df_qty, on='trade_id', how='left')
df_info=pd.merge(df_info,df_qty_usdt,on='trade_id',how='left')
df_info=pd.merge(df_info,df_init,on='trade_id',how='left')
df_info

,trade_id,timestamp_start,timestamp_stop,token_qty,usdt_qty,Wallet
0,1.0,1679705060369,1679936404645,0.03242,878.631065,893.735432
1,2.0,1679990404901,1680123604404,0.03254,922.912736,877.376084
2,3.0,1680248763230,1680248764795,0.03343,921.639266,922.548989
3,4.0,1680285605376,1680354006451,0.03248,922.038227,920.304645
4,5.0,1680418806067,1680458406234,0.03236,911.524629,921.029910
5,6.0,1680526805716,1680573606150,0.03234,898.740130,910.666151
6,7.0,1680616805575,1680724805870,0.03190,899.917652,897.772308
7,8.0,1680807605810,1680872405953,0.03216,896.189881,898.993397
8,9.0,1680912005663,1680994805795,0.03208,895.126151,895.235040
9,10.0,1681084805640,1681142406399,0.03157,896.978045,894.220023
10,11.0,1681156805871,1681254005991,0.03071,928.237820,896.323312
11,12.0,1681369205825,1681506013017,0.03089,939.650585,927.044991
12,13.0,1681567213894,1681602129750,0.03095,937.684558,938.873777
13,14.0,1681639212476,1681700412716,0.03094,927.752522,936.833704
14,15.0,1681834866318,1681884012258,0.03064,926.511745,926.737134

In [137]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 13 to 73
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp         61 non-null     int64
 1   id                61 non-null     int64
 2   order_id          61 non-null     int64
 3   price             61 non-null     float64
 4   qty               61 non-null     float64
 5   commission        61 non-null     float64
 6   commission_asset  61 non-null     object
 7   is_buyer          61 non-null     bool
 8   is_maker          61 non-null     bool
 9   datetime          61 non-null     object
 10  direction         61 non-null     int32
 11  Wallet            61 non-null     float64
 12  trade_id          61 non-null     float64
dtypes: bool(2), float64(5), int32(1), int64(3), object(2)
memory usage: 5.6+ KB

In [138]:
df['trade_number'] = df.groupby('trade_id').cumcount() + 1
df['temp_profit'] = df['Wallet'] * df['direction']

df

C:\Users\podoG\AppData\Local\Temp\ipykernel_21848\2115697901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['trade_number'] = df.groupby('trade_id').cumcount() + 1
C:\Users\podoG\AppData\Local\Temp\ipykernel_21848\2115697901.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['temp_profit'] = df['Wallet'] * df['direction']

,timestamp,id,order_id,price,qty,commission,commission_asset,is_buyer,is_maker,datetime,direction,Wallet,trade_id,trade_number,temp_profit
13,1679705060369,3056431195,20588276078,27567.41,0.03242,3.242000e-05,BTC,True,False,2023-03-25 00:44:20,-1,893.735432,1.0,1,-893.735432
14,1679936404645,3059762994,20618072666,27135.79,0.00038,1.031160e-02,USDT,False,False,2023-03-27 17:00:04,1,10.311600,1.0,2,10.311600
15,1679936404645,3059762995,20618072666,27135.79,0.00643,1.744831e-01,USDT,False,False,2023-03-27 17:00:04,1,174.483130,1.0,3,174.483130
16,1679936404645,3059762996,20618072666,27135.79,0.00642,1.742118e-01,USDT,False,False,2023-03-27 17:00:04,1,174.211772,1.0,4,174.211772
17,1679936404645,3059762997,20618072666,27135.78,0.00067,1.818097e-02,USDT,False,False,2023-03-27 17:00:04,1,18.180973,1.0,5,18.180973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,1681639267480,3082923341,20813706743,30275.40,0.00061,6.100000e-07,BTC,True,False,2023-04-16 10:01:07,-1,18.467994,14.0,2,-18.467994
70,1681700412716,3083612606,20819248621,30014.64,0.03091,9.277525e-01,USDT,False,False,2023-04-17 03:00:12,1,927.752522,14.0,3,927.752522
71,1681834866318,3085329058,20833800173,30245.99,0.03004,3.004000e-05,BTC,True,False,2023-04-18 16:21:06,-1,908.589540,15.0,1,-908.589540
72,1681834868345,3085329061,20833800272,30245.99,0.00060,6.000000e-07,BTC,True,False,2023-04-18 16:21:08,-1,18.147594,15.0,2,-18.147594
73,1681884012258,3085838182,20838970323,30268.27,0.03061,9.265117e-01,USDT,False,False,2023-04-19 06:00:12,1,926.511745,15.0,3,926.511745

In [139]:
df.groupby("trade_id")["temp_profit"].sum()

trade_id
1.0    -15.104367
2.0     45.536652
3.0     -0.909723
4.0      1.733582
5.0     -9.505281
6.0    -11.926022
7.0      2.145344
8.0     -2.803517
9.0     -0.108889
10.0     2.758022
11.0    31.914508
12.0    12.605594
13.0    -1.189219
14.0    -9.081181
15.0    -0.225389
Name: temp_profit, dtype: float64

In [140]:
profits = df.groupby("trade_id")["temp_profit"].sum().reset_index(name="profits")
df = df.merge(profits, on="trade_id")
df

,timestamp,id,order_id,price,qty,commission,commission_asset,is_buyer,is_maker,datetime,direction,Wallet,trade_id,trade_number,temp_profit,profits
0,1679705060369,3056431195,20588276078,27567.41,0.03242,3.242000e-05,BTC,True,False,2023-03-25 00:44:20,-1,893.735432,1.0,1,-893.735432,-15.104367
1,1679936404645,3059762994,20618072666,27135.79,0.00038,1.031160e-02,USDT,False,False,2023-03-27 17:00:04,1,10.311600,1.0,2,10.311600,-15.104367
2,1679936404645,3059762995,20618072666,27135.79,0.00643,1.744831e-01,USDT,False,False,2023-03-27 17:00:04,1,174.483130,1.0,3,174.483130,-15.104367
3,1679936404645,3059762996,20618072666,27135.79,0.00642,1.742118e-01,USDT,False,False,2023-03-27 17:00:04,1,174.211772,1.0,4,174.211772,-15.104367
4,1679936404645,3059762997,20618072666,27135.78,0.00067,1.818097e-02,USDT,False,False,2023-03-27 17:00:04,1,18.180973,1.0,5,18.180973,-15.104367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,1681639267480,3082923341,20813706743,30275.40,0.00061,6.100000e-07,BTC,True,False,2023-04-16 10:01:07,-1,18.467994,14.0,2,-18.467994,-9.081181
57,1681700412716,3083612606,20819248621,30014.64,0.03091,9.277525e-01,USDT,False,False,2023-04-17 03:00:12,1,927.752522,14.0,3,927.752522,-9.081181
58,1681834866318,3085329058,20833800173,30245.99,0.03004,3.004000e-05,BTC,True,False,2023-04-18 16:21:06,-1,908.589540,15.0,1,-908.589540,-0.225389
59,1681834868345,3085329061,20833800272,30245.99,0.00060,6.000000e-07,BTC,True,False,2023-04-18 16:21:08,-1,18.147594,15.0,2,-18.147594,-0.225389
60,1681884012258,3085838182,20838970323,30268.27,0.03061,9.265117e-01,USDT,False,False,2023-04-19 06:00:12,1,926.511745,15.0,3,926.511745,-0.225389

In [141]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 0 to 60
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp         61 non-null     int64
 1   id                61 non-null     int64
 2   order_id          61 non-null     int64
 3   price             61 non-null     float64
 4   qty               61 non-null     float64
 5   commission        61 non-null     float64
 6   commission_asset  61 non-null     object
 7   is_buyer          61 non-null     bool
 8   is_maker          61 non-null     bool
 9   datetime          61 non-null     object
 10  direction         61 non-null     int32
 11  Wallet            61 non-null     float64
 12  trade_id          61 non-null     float64
 13  trade_number      61 non-null     int64
 14  temp_profit       61 non-null     float64
 15  profits           61 non-null     float64
dtypes: bool(2), float64(7), int32(1), int64(4), object(2)
memory usage: 7.0+ KB

In [142]:
df["profits"] = df["profits"].drop_duplicates()
df=df.fillna(0)

In [143]:
# Calcul de la somme des temp_profit avec direction = -1 pour chaque trade_id
temp_profit_sum = df.loc[df['direction'] == -1].groupby('trade_id')['temp_profit'].sum()

# Inverser le signe de la somme des temp_profit pour que le signe corresponde à celui des profits
temp_profit_sum = -1 * temp_profit_sum

# Calcul de la colonne profits_ratio pour chaque trade_id
df['profits_ratio'] = df['profits'] / df['trade_id'].map(temp_profit_sum) * 100
df['temp_profit_sum']=df['trade_id'].map(temp_profit_sum)
# Affichage du DataFrame avec la colonne profits_ratio
df.head()

,timestamp,id,order_id,price,qty,commission,commission_asset,is_buyer,is_maker,datetime,direction,Wallet,trade_id,trade_number,temp_profit,profits,profits_ratio,temp_profit_sum
0,1679705060369,3056431195,20588276078,27567.41,0.03242,0.000032,BTC,True,False,2023-03-25 00:44:20,-1,893.735432,1.0,1,-893.735432,-15.104367,-1.690027,893.735432
1,1679936404645,3059762994,20618072666,27135.79,0.00038,0.010312,USDT,False,False,2023-03-27 17:00:04,1,10.311600,1.0,2,10.311600,0.000000,0.000000,893.735432
2,1679936404645,3059762995,20618072666,27135.79,0.00643,0.174483,USDT,False,False,2023-03-27 17:00:04,1,174.483130,1.0,3,174.483130,0.000000,0.000000,893.735432
3,1679936404645,3059762996,20618072666,27135.79,0.00642,0.174212,USDT,False,False,2023-03-27 17:00:04,1,174.211772,1.0,4,174.211772,0.000000,0.000000,893.735432
4,1679936404645,3059762997,20618072666,27135.78,0.00067,0.018181,USDT,False,False,2023-03-27 17:00:04,1,18.180973,1.0,5,18.180973,0.000000,0.000000,893.735432

### Chargement du deuxieme dataset ( historique de cour)

In [149]:
# pour calculer le drawdown il nous faut l'historique du token sur la période équivalente
# -- Import --
import pandas as pd
from binance.client import Client
import ta
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# -- Define Binance Client --
client = Client()

# -- You can change the crypto pair ,the start date and the time interval below --
pairName = "BTCUSDT"
startDate = " 24 mars 2023"
timeInterval = Client.KLINE_INTERVAL_1HOUR



# -- Load all price data from binance API --
klinesT = client.get_historical_klines(pairName, timeInterval, startDate)





# -- Define your dataset --
df_h = pd.DataFrame(klinesT, columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_av', 'trades', 'tb_base_av', 'tb_quote_av', 'ignore' ])
df_h['close'] = pd.to_numeric(df_h['close'])
df_h['high'] = pd.to_numeric(df_h['high'])
df_h['low'] = pd.to_numeric(df_h['low'])
df_h['open'] = pd.to_numeric(df_h['open'])

# -- Set the date to index --

df_h['datetime']= pd.to_datetime(df_h.timestamp, unit='ms')

print("Data loaded 100%")

# -- Uncomment the line below if you want to check your price dataset --
df_h

Data loaded 100%

,timestamp,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore,datetime
0,1679616000000,28295.42,28374.30,28182.02,28195.30,2887.21044000,1679619599999,81696702.94330860,55358,1361.90716000,38542337.80235720,0,2023-03-24 00:00:00
1,1679619600000,28195.29,28318.80,28137.93,28253.00,2294.16851000,1679623199999,64796470.41189460,43247,1199.22863000,33870352.85455300,0,2023-03-24 01:00:00
2,1679623200000,28253.00,28309.99,28134.86,28186.28,2066.26067000,1679626799999,58366428.14922550,37281,889.81155000,25135233.48266430,0,2023-03-24 02:00:00
3,1679626800000,28186.28,28237.10,28158.40,28219.98,1572.69903000,1679630399999,44359314.47674330,30487,800.65146000,22581411.60296640,0,2023-03-24 03:00:00
4,1679630400000,28219.98,28254.48,28102.15,28130.41,2009.41868000,1679633999999,56646713.28924120,36868,943.61911000,26602825.20375980,0,2023-03-24 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
679,1682064000000,28155.02,28237.30,28015.71,28071.90,2847.93515000,1682067599999,80064735.18189570,57792,1389.19303000,39057693.08022460,0,2023-04-21 08:00:00
680,1682067600000,28071.89,28112.50,27967.09,28060.85,1945.42052000,1682071199999,54560381.19529480,37520,851.81226000,23889305.67887860,0,2023-04-21 09:00:00
681,1682071200000,28060.85,28152.62,27936.80,28001.96,2090.75767000,1682074799999,58652886.13923020,42506,997.57601000,27987915.97858730,0,2023-04-21 10:00:00
682,1682074800000,28001.96,28093.55,27919.69,28066.21,2602.24007000,1682078399999,72880442.44866950,45978,1336.73757000,37437351.66433840,0,2023-04-21 11:00:00
683,1682078400000,28066.22,28230.43,27962.65,28197.94,2274.37092000,1682081999999,63937922.23163450,41994,1254.84673000,35284427.27740950,0,2023-04-21 12:00:00

### Fusion des dataset

In [150]:


# Charger les deux dataframes
df1 = df
df2 = df_h

# Concaténer les deux dataframes et trier par le timestamp
df = pd.concat([df1, df2], axis=0, sort=True).reset_index(drop=True)

# Afficher les 25 premières lignes triées par timestamp
df_sorted = df.sort_values(by='timestamp')
df_sorted.head()

,Wallet,close,close_time,commission,commission_asset,datetime,direction,high,id,ignore,...,quote_av,tb_base_av,tb_quote_av,temp_profit,temp_profit_sum,timestamp,trade_id,trade_number,trades,volume
61,NaN,28195.30,1.679620e+12,NaN,NaN,2023-03-24 00:00:00,NaN,28374.30,NaN,0,...,81696702.94330860,1361.90716000,38542337.80235720,NaN,NaN,1679616000000,NaN,NaN,55358.0,2887.21044000
62,NaN,28253.00,1.679623e+12,NaN,NaN,2023-03-24 01:00:00,NaN,28318.80,NaN,0,...,64796470.41189460,1199.22863000,33870352.85455300,NaN,NaN,1679619600000,NaN,NaN,43247.0,2294.16851000
63,NaN,28186.28,1.679627e+12,NaN,NaN,2023-03-24 02:00:00,NaN,28309.99,NaN,0,...,58366428.14922550,889.81155000,25135233.48266430,NaN,NaN,1679623200000,NaN,NaN,37281.0,2066.26067000
64,NaN,28219.98,1.679630e+12,NaN,NaN,2023-03-24 03:00:00,NaN,28237.10,NaN,0,...,44359314.47674330,800.65146000,22581411.60296640,NaN,NaN,1679626800000,NaN,NaN,30487.0,1572.69903000
65,NaN,28130.41,1.679634e+12,NaN,NaN,2023-03-24 04:00:00,NaN,28254.48,NaN,0,...,56646713.28924120,943.61911000,26602825.20375980,NaN,NaN,1679630400000,NaN,NaN,36868.0,2009.41868000

In [151]:
new_cols = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'id', 'order_id', 'price', 'qty', 'commission', 'commission_asset', 'is_buyer', 'is_maker', 'datetime', 'direction', 'Wallet', 'trade_id', 'trade_number', 'temp_profit', 'profits', 'profits_ratio','temp_profit_sum']
df_sorted = df_sorted.reindex(columns=new_cols)

In [152]:
df_sorted = df_sorted.fillna(0)

df_sorted.temp_profit_sum.nunique()

16

In [153]:
duplicates = df_sorted.duplicated()
print("Nombre de lignes en double:", duplicates.sum())

Nombre de lignes en double: 0

In [154]:
# Remplacer les 0 dans la colonne 'close' par la moyenne de la ligne d'avant et d'après
df_sorted['close'].replace(0, np.nan, inplace=True)
df_sorted['close'].fillna(method='ffill', inplace=True)
df_sorted['close'].fillna(method='bfill', inplace=True)
df_sorted['close'].interpolate(method='linear', inplace=True)

### crea du statu holder pour comparer & variable a modifier pour adapter en fonction de l'historique

In [155]:
qtybase=0.0342
fiatbase=893
crypto='BTC'
fiat="USDT"

df_sorted['Holdervalue']= qtybase*df_sorted['close']

In [156]:
# création de la colonne currency

for index, row in df_sorted.iterrows():
    # Recherche du trade_id correspondant au timestamp de la ligne
    trades = trades_df[(trades_df['timestamp_start'] <= row['timestamp']) & (trades_df['timestamp_stop'] >= row['timestamp'])]
    # Si un trade est trouvé, la currency est BTC, sinon c'est USDT par défaut
    if len(trades) > 0:
        df_sorted.at[index, 'currency'] = crypto
    else:
        df_sorted.at[index, 'currency'] = fiat

In [157]:
# initialisation de la colonne qty_usdt à la somme initial d'investissement
df_sorted['qty_usdt']= fiatbase

# boucle sur chaque ligne de df_sorted
for index, row in df_sorted.iterrows():
    # récupération du timestamp de la ligne actuelle
    timestamp = row['timestamp']
    
    # boucle sur chaque ligne de df_info pour vérifier si le timestamp est compris dans une plage de temps de trade
    for info_index, info_row in df_info.iterrows():
        if info_row['timestamp_stop'] <= timestamp :
            # le timestamp est compris dans une plage de temps de trade, on calcule la quantité de BTC correspondante
            token_qty = info_row['usdt_qty']
         
            
            # on met à jour la colonne qty_btc de la ligne actuelle de df_sorted
            df_sorted.at[index, 'qty_usdt'] = token_qty
            
            # on sort de la boucle sur df_info pour ne pas continuer à vérifier les autres plages de temps
            break

In [158]:
# initialisation de la colonne qty_btc à 0
df_sorted['qty_btc'] = 0

# boucle sur chaque ligne de df_sorted
for index, row in df_sorted.iterrows():
    # récupération du timestamp de la ligne actuelle
    timestamp = row['timestamp']
    
    # boucle sur chaque ligne de df_info pour vérifier si le timestamp est compris dans une plage de temps de trade
    for info_index, info_row in df_info.iterrows():
        if info_row['timestamp_start'] <= timestamp <= info_row['timestamp_stop']:
            # le timestamp est compris dans une plage de temps de trade, on calcule la quantité de BTC correspondante
            token_qty = info_row['token_qty']
         
            
            # on met à jour la colonne qty_btc de la ligne actuelle de df_sorted
            df_sorted.at[index, 'qty_btc'] = token_qty
            
            # on sort de la boucle sur df_info pour ne pas continuer à vérifier les autres plages de temps
            break

In [159]:
#création de la colonne wallet_value
df_sorted['wallet_value']=0
for index,row in df_sorted.iterrows():
    if row ['currency']==fiat:
        value=row['qty_usdt']
        df_sorted.at[index,'wallet_value']=value
    if row ['currency']==crypto:
        value2=row['qty_btc']*row['close']
        df_sorted.at[index,'wallet_value']=value2

In [160]:


# initialisation de la colonne qty_btc à 0
df_sorted['drawdown']=0

# boucle sur chaque ligne de df_sorted
for index, row in df_sorted.iterrows():
    # récupération du timestamp de la ligne actuelle
    timestamp = row['timestamp']
    value= row['wallet_value']
    
    # boucle sur chaque ligne de df_info pour vérifier si le timestamp est compris dans une plage de temps de trade
    for info_index, info_row in df_info.iterrows():
        if info_row['timestamp_start'] <= timestamp <= info_row['timestamp_stop']:
            # le timestamp est compris dans une plage de temps de trade, on calcule la quantité de BTC correspondante
            init_valu = info_row['Wallet']
            
            
            # on met à jour la colonne qty_btc de la ligne actuelle de df_sorted
            df_sorted.at[index, 'drawdown'] = round(((value-init_valu)/init_valu) *100,2)
            
            # on sort de la boucle sur df_info pour ne pas continuer à vérifier les autres plages de temps
            break

In [161]:
df_sorted.head(50)

,timestamp,open,high,low,close,volume,id,order_id,price,qty,...,temp_profit,profits,profits_ratio,temp_profit_sum,Holdervalue,currency,qty_usdt,qty_btc,wallet_value,drawdown
61,1679616000000,28295.42,28374.30,28182.02,28195.30,2887.21044000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,964.279260,USDT,893.0,0.00000,893.000000,0.00
62,1679619600000,28195.29,28318.80,28137.93,28253.00,2294.16851000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,966.252600,USDT,893.0,0.00000,893.000000,0.00
63,1679623200000,28253.00,28309.99,28134.86,28186.28,2066.26067000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,963.970776,USDT,893.0,0.00000,893.000000,0.00
64,1679626800000,28186.28,28237.10,28158.40,28219.98,1572.69903000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,965.123316,USDT,893.0,0.00000,893.000000,0.00
65,1679630400000,28219.98,28254.48,28102.15,28130.41,2009.41868000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,962.060022,USDT,893.0,0.00000,893.000000,0.00
66,1679634000000,28130.41,28300.22,28130.40,28284.45,2593.46960000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,967.328190,USDT,893.0,0.00000,893.000000,0.00
67,1679637600000,28284.45,28335.32,28234.00,28262.83,1783.26087000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,966.588786,USDT,893.0,0.00000,893.000000,0.00
68,1679641200000,28262.84,28320.00,28162.43,28274.59,2678.97653000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,966.990978,USDT,893.0,0.00000,893.000000,0.00
69,1679644800000,28274.58,28295.72,27934.48,28034.37,5156.44522000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,958.775454,USDT,893.0,0.00000,893.000000,0.00
70,1679648400000,28034.38,28190.35,28000.00,28041.11,4506.28931000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,959.005962,USDT,893.0,0.00000,893.000000,0.00
71,1679652000000,28041.11,28085.06,27941.00,28039.71,3639.24610000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,958.958082,USDT,893.0,0.00000,893.000000,0.00
72,1679655600000,28039.71,28091.03,27963.84,28080.00,1267.41714000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,960.336000,USDT,893.0,0.00000,893.000000,0.00
73,1679659200000,28080.00,28080.00,28080.00,28080.00,0.00000000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,960.336000,USDT,893.0,0.00000,893.000000,0.00
74,1679666400000,28079.99,28253.01,27835.00,27989.06,8983.24018000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,957.225852,USDT,893.0,0.00000,893.000000,0.00
75,1679670000000,27989.07,28076.82,27843.41,28018.04,5198.28681000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,958.216968,USDT,893.0,0.00000,893.000000,0.00
76,1679673600000,28018.04,28059.63,27831.33,27831.33,3377.68679000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,951.831486,USDT,893.0,0.00000,893.000000,0.00
77,1679677200000,27831.33,27909.28,27523.81,27609.99,8886.72594000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,944.261658,USDT,893.0,0.00000,893.000000,0.00
78,1679680800000,27609.99,27815.58,27562.51,27740.01,4729.14975000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,948.708342,USDT,893.0,0.00000,893.000000,0.00
79,1679684400000,27740.02,27880.84,27687.18,27821.60,3328.40802000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,951.498720,USDT,893.0,0.00000,893.000000,0.00
80,1679688000000,27821.59,27860.00,27486.89,27584.82,4095.63602000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,943.400844,USDT,893.0,0.00000,893.000000,0.00
81,1679691600000,27584.83,27621.66,27000.00,27335.14,8237.35346000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,934.861788,USDT,893.0,0.00000,893.000000,0.00
82,1679695200000,27335.13,27443.19,27275.15,27298.05,4289.67920000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,933.593310,USDT,893.0,0.00000,893.000000,0.00
83,1679698800000,27298.06,27517.14,27280.88,27454.47,2661.03717000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,938.942874,USDT,893.0,0.00000,893.000000,0.00
84,1679702400000,27454.46,27586.00,27425.19,27556.35,2102.79410000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,942.427170,USDT,893.0,0.00000,893.000000,0.00
0,1679705060369,0.00,0.00,0.00,27556.35,0,3.056431e+09,2.058828e+10,27567.41,0.03242,...,-893.735432,-15.104367,-1.690027,893.735432,942.427170,BTC,893.0,0.03242,893.376867,-0.04
85,1679706000000,27556.34,27566.12,27420.00,27498.54,1532.14045000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,940.450068,BTC,893.0,0.03242,891.502667,-0.25
86,1679709600000,27498.54,27658.20,27459.18,27599.66,1783.06728000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,943.908372,BTC,893.0,0.03242,894.780977,0.12
87,1679713200000,27599.66,27639.94,27540.53,27581.65,2213.29821000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,943.292430,BTC,893.0,0.03242,894.197093,0.05
88,1679716800000,27581.65,27608.20,27492.57,27535.25,1207.18941000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,941.705550,BTC,893.0,0.03242,892.692805,-0.12
89,1679720400000,27535.26,27544.39,27375.90,27458.73,1839.15445000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,939.088566,BTC,893.0,0.03242,890.212027,-0.39
90,1679724000000,27458.74,27536.50,27405.50,27495.66,2122.47214000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,940.351572,BTC,893.0,0.03242,891.409297,-0.26
91,1679727600000,27495.66,27583.97,27470.26,27485.36,2007.66965000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,939.999312,BTC,893.0,0.03242,891.075371,-0.30
92,1679731200000,27485.37,27512.65,27337.96,27422.56,2002.36773000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,937.851552,BTC,893.0,0.03242,889.039395,-0.53
93,1679734800000,27422.56,27519.00,27309.80,27481.96,2070.46154000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,939.883032,BTC,893.0,0.03242,890.965143,-0.31
94,1679738400000,27481.96,27537.79,27397.47,27477.01,1753.89200000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,939.713742,BTC,893.0,0.03242,890.804664,-0.33
95,1679742000000,27477.00,27530.00,27423.59,27457.20,1186.26813000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,939.036240,BTC,893.0,0.03242,890.162424,-0.40
96,1679745600000,27457.19,27480.17,27372.81,27451.71,1416.55718000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,938.848482,BTC,893.0,0.03242,889.984438,-0.42
97,1679749200000,27451.72,27619.00,27357.14,27566.96,3063.63019000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,942.790032,BTC,893.0,0.03242,893.720843,-0.00
98,1679752800000,27566.97,27648.00,27519.39,27527.06,2294.12717000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,941.425452,BTC,893.0,0.03242,892.427285,-0.15
99,1679756400000,27527.06,27787.33,27485.00,27647.43,3967.31226000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,945.542106,BTC,893.0,0.03242,896.329681,0.29
100,1679760000000,27647.44,27730.00,27624.14,27629.22,2143.18105000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,944.919324,BTC,893.0,0.03242,895.739312,0.22
101,1679763600000,27629.23,27647.36,27380.00,27481.58,2981.62837000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,939.870036,BTC,893.0,0.03242,890.952824,-0.31
102,1679767200000,27481.57,27535.63,27431.05,27442.92,1419.74012000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,938.547864,BTC,893.0,0.03242,889.699466,-0.45
103,1679770800000,27442.92,27442.92,27159.57,27189.68,5149.37954000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,929.887056,BTC,893.0,0.03242,881.489426,-1.37
104,1679774400000,27189.69,27430.14,27156.09,27354.72,3202.60967000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,935.531424,BTC,893.0,0.03242,886.840022,-0.77
105,1679778000000,27354.73,27455.00,27349.09,27411.54,1058.74562000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,937.474668,BTC,893.0,0.03242,888.682127,-0.57
106,1679781600000,27411.54,27529.29,27391.05,27447.32,1518.28385000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,938.698344,BTC,893.0,0.03242,889.842114,-0.44
107,1679785200000,27447.31,27486.50,27404.99,27462.95,808.11091000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,939.232890,BTC,893.0,0.03242,890.348839,-0.38
108,1679788800000,27462.96,27630.32,27417.76,27531.28,1997.79617000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,941.569776,BTC,893.0,0.03242,892.564098,-0.13
109,1679792400000,27531.28,27650.00,27516.91,27593.34,1280.56901000,0.000000e+00,0.000000e+00,0.00,0.00000,...,0.000000,0.000000,0.000000,0.000000,943.692228,BTC,893.0,0.03242,894.576083,0.09

### petit analyse en code pure

In [162]:
premiere_valeur = df.loc[0, 'Wallet']

# Comptage du nombre de trades positifs
nb_trades_positifs = (df['profits'] > 0).sum()
nb_trades_negatifs= (df['profits']< 0).sum()

commission_total=df['commission'].sum()
profit_total = df["profits"].sum()
profit_net=profit_total-commission_total
print('Mise de départ',premiere_valeur,'$')
print('Total des profit avant commission',profit_total,'$')
print('Total des commission',commission_total,'$')
print('Profit net après commission',profit_net,"$")

print("Il y a", nb_trades_positifs, "trades positifs dans cette historique.")
print("Il y a", nb_trades_negatifs, "trades negatifs dans cette historique.")
# Calcul de la moyenne des ratios positifs
mean_positive_ratio = df.loc[df['profits_ratio'] > 0, 'profits_ratio'].mean()

# Calcul de la moyenne des ratios négatifs
mean_negative_ratio = df.loc[df['profits_ratio'] < 0, 'profits_ratio'].mean()

print('Moyenne des trades positifs:', mean_positive_ratio,'%')
print('Moyenne des trades négatifs:', mean_negative_ratio,'%')
# Calculer la date et l'heure du premier et du dernier trade pour chaque trade_id
first_trade = df.groupby('trade_id')['timestamp'].min()
last_trade = df.groupby('trade_id')['timestamp'].max()

# Calculer la durée de chaque trade
trade_durations = last_trade - first_trade

# Calculer la durée moyenne d'un trade
mean_trade_duration = trade_durations.mean()

print("La durée moyenne d'un trade est de :", mean_trade_duration)
# Croissance
# Calculer la différence en jours entre la date actuelle et la date du premier timestamp du dataset
diff_days = (datetime.datetime.now() - pd.to_datetime(df['timestamp'], unit='ms').min()).days


croissance= profit_net/premiere_valeur*100
print('Nous avons une croissance de :',croissance,"% en seulement:",diff_days,"jours")

# Trouver le pire et le meilleur ratio de profit
worst_ratio = df['profits_ratio'].min()
best_ratio = df['profits_ratio'].max()

print("Le plus mauvais trade est :", worst_ratio,"%")
print("Le meilleur trade est :", best_ratio,"%")


# Trouver le pire drawdown
worst_drawdown = df_sorted['drawdown'].min()

print("Le pire drawdown est  :", worst_drawdown,"%")

Mise de départ 893.7354321999999 $
Total des profit avant commission 45.84011519999979 $
Total des commission 13.70401242 $
Profit net après commission 32.13610277999979 $
Il y a 6 trades positifs dans cette historique.
Il y a 9 trades negatifs dans cette historique.
Moyenne des trades positifs: 1.8077032041583536 %
Moyenne des trades négatifs: -0.6194004599274732 %
La durée moyenne d'un trade est de : 80787846.46666667
Nous avons une croissance de : 3.595706472204448 % en seulement: 28 jours
Le plus mauvais trade est : -1.690026640525967 %
Le meilleur trade est : 5.190094922808464 %
Le pire drawdown est  : -2.41 %

### Sauvegarde des fichier pour utilisation dans PowerBI

In [120]:
df_h.to_csv("Hist_btc.csv")
df.to_csv("Hist_trade_btc.csv")
df_sorted.to_csv("Hist_merge_btc.csv")